<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page not found!</h1>
    <p>This is not the page you are looking for</p>

<%- include('includes/end.ejs') %>